title: clachicha

contentful:
  spaces:
    - clachicha:
        space: w0gzgn8pc4mk
        access_token: iAjD1RruGvAzNe6oKy7yj9X2I6S0oBuOGGBGCysRUus

page_gen:
  - index_files: false
    data: contentful.spaces.clachicha.workPosts
    name_expr: record['title'].split(' ').join('-')
    dir: '/work'
    template: work_post

plugins:
  - data_page_generator

sass:
    load_paths:
        - _sass
        - node_modules

exclude: []
