---
layout: default
---

<body class="about-body">

  {% include top-bar.html %}


  <div class="pages-container">
    <div class="pages-title-container">
      <h1 class="pages-title underline">About Me</h1>
    </div>
    <div class="about-description-image d-flex w-100">
      {% for item in site.data.contentful.spaces.clachicha.aboutPage %}
        <div class="pages-description col-6">
          <p>{{ item.about_description | rich_text }}</p>
        </div>
        <div class="about-image-container col-6">
          <image class="about-image" src="{{ item.image.url }}?q=20"
        </div>
      {% endfor %}
    </div>
  </div>


</body>
