/* MOBILE */

@media only screen and (max-width: 600px) {
  .main-body {
    background-size: cover!important;
    background-color: #edeef0!important;
  }

  .logo-img {
    width: 100px!important;
  }

  .nav-bar {
    display: block!important;
    justify-content: center!important;
    height: auto!important;
    text-align: center!important;
    background-color: transparent!important;
    margin-top: 60px!important;
  }

  .nav-bar-item {
    width: auto!important;
    border-left: 7px black solid!important;
    margin-bottom: 20px!important;
  }

  .pages-body {
    display: block!important;
  }

  .top-bar-arrow {
    float: none!important;
  }

  .top-bar {
    background-image: none!important;
  }

  .bar-logo {
    display: flex!important;
    align-items: center!important;
    justify-content: space-evenly!important;
    padding-left: 0px!important;
    width: auto!important;

  }

  .back-arrow-container {
    display: flex!important;
    align-items: center!important;
    justify-content: space-evenly!important;
    padding-left: 0px!important;
  }

  .work-post-main-container {
    display: block!important;
    margin-top: 0px!important;
  }

  .work-post-img-container {
    width: auto!important;
    float: none!important;
    margin: 20px!important;
  }

  .work-post-title-info-container {
    width: auto!important;
    margin: 25px!important;
  }

  .blog-post-main-container {
    margin: 25px!important;
  }

  .blog-container {
    flex-direction: column;
    margin: 0!important;
  }

  .blog-info-container {
    width: auto!important;
  }

  .blog-item-img {
    padding: 10px;
  }

  .blog-image {
    margin-bottom: 20px;
    width: 80%;
  }

  .container {
    width: auto!important;
  }

  .pages-container {
    width: auto!important;
    margin: 25px!important;
    float: none!important;
  }

  .pages-description {
    max-width: 100%!important;
  }

  .contact-container {
    flex-direction: column!important;
  }

  .contact-info {
    margin-left: 30px!important;
  }

  .about-description-image {
    flex-direction: column!important;
  }

  .about-image {
    width: 300px!important;
  }

}

/* MAIN */

.main-body{
  margin: 50px;
  background-image: url("images/OPCION_2.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #edeef0;

}


.logo-img {
  width: 150px;
}


.nav-bar {
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
  height: 80px;
  text-align: center;
  background-color: white;
}

.nav-bar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bebas Neue';
  font-size: 35px;
  letter-spacing: 8px;
  border-right: 7px black solid;
  border-top: 7px black solid;
  border-bottom: 7px black solid;
  width: 25%;
  height: 80px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  background-color: white;
}

.nav-bar-item:first-child {
  border-left: 7px black solid;
}

.nav-bar-item:hover {
  font-size: 40px;
  text-decoration: none;
  color: black;
}

.modal-main {
  position: fixed;
  top: 20px;
  display: flex;
  height: 60%;
  width: 60%;
  /* margin: 100px; */
  justify-content: center;
  align-items: center;
  transition: all .3s ease;
}

.modal-content {
  background-color: white;
}

.modal-main-image {
  height: 20px;
  width: 20px;
}

.item-title {
  font-size: 30px;
  color: blue;
}

/* TOP BAR */

.top-bar-graph {
  display: flex;
}

.pages-logo-img {
  height: 90px;
  margin-right: 0px;
  cursor: pointer;
  margin-left: -10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pages-logo-img:hover {
  height: 91px;
}

.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-image: url("/images/DESIGN.WORK.1.1.OPACITY.svg");
  background-repeat: no-repeat;
}

.top-bar-arrow {
  float: left;
  display: flex;
}

.bar-logo {
  padding-left: 50px;
  background-color: inherit;
  width: 200px;
}

.bar-logo-space {
  height: 146px;
  width: 76px;
}

.title-categories {
  text-align: center;
  width: 90%;
}

.page-title {
  font-family: 'Bebas Neue';
  font-size: 90px;
  letter-spacing: 8px;
  width: 100vw;
  justify-content: center;
  margin-bottom: 30px;

}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.8s;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
  font-family: 'Bebas Neue';
  font-size: 50px;
  padding: 10px;
  align-items: center;
  letter-spacing: 5px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.three-bars div {
    height: 4px;
    background-color: black;
    margin: 5px 0;
    border-radius: 25px;
    transition: 0.3s;
}

.one {
    width: 30px;
}

.two {
    width: 20px;
}

.three {
    width: 25px;
}

.three-bars:hover div {
    width: 30px;
}

.pages-top-bar {
  width: 100%;
}

.back-arrow-container {
  padding-top: 15px;
  padding-left: 50px;
}

.back-arrow-img {
  width: 30px;
}

.pages-background-image {
  margin-top: 30px;
  margin-left: -90px;
  /* opacity: 60%; */
}

.bar-image {
  width: 1050px;
}

.flex-container {
  display: flex
}

/* WORK */

.index-pages-body {
  background-color: #edeef0;
}

.item-img {
  height: 284px;
  object-fit: cover;
  border-radius: 20%;
  align-items: center;
}

.align-itm {
  align-items: center;
  justify-content: center;
}

.col-margin {
  margin-bottom: 100px;
}


/* WORK POSTS */

.work-post-body {
  display: flex;
  background-color: #edeef0;
}


.work-post-main-container {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
}

.work-post-img-container  {
  z-index: 0;
  width: 450px;
  margin-right: 100px;
  float: left;


}

.work-image-centered {
  display: flex;
  align-items: center;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
  position: sticky!important;
}

/* .controlers-out-left {
  left: -50px!important;
}

.controlers-out-right {
  right: -50px!important;
} */

.work-post-img {
  border-radius: 10%;
  margin-bottom: 120px;
  max-width:100%;
  max-height:100%;

}

.text-black {
  color: black!important;
}

.work-post-title-info-container {
  width: 400px;
}


.work-post-title-container {
  margin-bottom: 40px;
}

.work-post-title {
  font-family: 'Bebas Neue';
  letter-spacing: 2px;
  font-size: 40px;
}

.underline {
  background-image: linear-gradient(120deg, #cf3a3a 0%, #cf3a3a 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  background-position: 0 88%;
}

.work-post-info-container {
  margin-bottom: 40px;
}

.work-post-info-title{
  color: #cf3a3a!important;
  font-weight: bold!important;
}

.work-post-info {
  color: #3E000C;
  font-size: 18px!important;
  font-family: 'Roboto';
  padding-right: 100px;
  padding-bottom: 10px;
}

.work-post-description-container {
  margin-bottom: 40px;
}

.work-post-description {
  font-family: 'Roboto';
  font-size: 18px;
  opacity: 90%;
}

/* BLOG */

.blog-container {
  display: flex;
  margin: 80px;
}

.blog-item-img {
  height: 250px;
  object-fit: cover;
  align-items: center;
  border-radius: 5%;
}

.blog-title {
  font-family: 'Bebas Neue';
  letter-spacing: 2px;
}

.blog-info {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: lighter;
}

.blog-summary {
  font-family: 'Roboto';
}

/* BLOG POSTS */

.blog-posts-body {
  margin-bottom: 120px;
  display: flex;
  background-color: #edeef0;
}


.blog-post-main-container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
}

.blog-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
  margin-right: 40px;
  width: 450px;
}

.blog-post-img-container {
  z-index: 0;

}


.blog-post-title-container {
  margin-bottom: 80px;
}

.blog-post-title {
  font-family: 'Bebas Neue';
  letter-spacing: 2px;
  font-size: 40px;
}

.blog-post-info-container {
  margin-bottom: 40px;
}

.blog-post-info {
  opacity: 90%;
  font-size: 20px!important;
}

.blog-post-description-container {
  margin-bottom: 40px;
}

.blog-post-description {
  font-family: 'Roboto';
  font-size: 18px;
  opacity: 90%;
}

/* ABOUT AND CONTACT */

.about-body {
  background-color: #edeef0;
}

.about-image-container {
  text-align: center;

}
.about-image {
  width: 400px;
  border-radius: 10%;
}

.contact-page-body {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  background-color: #edeef0;
}

.pages-container {
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 80px;
  float: left;
}

.pages-title-container {
  display: inline-block;
}

.pages-description {
  margin-bottom: 40px;
  margin-top: 40px;
  padding-left: 0px!important;
}

.contact-form {
  margin-top: 40px;
}

.contact-container{
  display: flex;
}

.contact-info {
  display: flex;
  margin-left: 200px;
}

.contact-items-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.contact-item {
  font-family: 'Roboto';
  font-weight: lighter;
  font-size: 20px;
  margin-bottom: 10px;
}
