<div class="top-bar">

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="./work" class="sidenav-links">WORK</a>
    <a href="./inspo" class="sidenav-links">INSPO</a>
    <a href="./about" class="sidenav-links">ABOUT</a>
    <a href="./contact" class="sidenav-links">CONTACT</a>
  </div>

  <div class="pages-top-bar my-4">

    <div class="pages-bar-logo">

      <div class="bar-logo">

        <span onclick="openNav()" class="three-bars">
          <div class="one"></div>
          <div class="two"></div>
          <div class="three"></div>
        </span>

        <a href="/">
          <img class="pages-logo-img" src="/images/logo_clachicha.jpg">
        </a>

      </div>
    </div>

    <div class="back-arrow-container">
      <a href="/work">
        <img class="back-arrow-img" src="/images/left-arrow.png"/>
      </a>
    </div>

  </div>
</div>
