---
layout: default
---

<body class="pages-body">

<div class="top-bar my-4">

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="./work" class="sidenav-links">WORK</a>
    <a href="./inspo" class="sidenav-links">INSPO</a>
    <a href="./about" class="sidenav-links">ABOUT</a>
    <a href="./contact" class="sidenav-links">CONTACT</a>
  </div>

  <div class="pages-top-bar">

    <div class="pages-bar-logo">

      <div class="bar-logo">

        <span onclick="openNav()" class="three-bars">
          <div class="one"></div>
          <div class="two"></div>
          <div class="three"></div>
        </span>

        <a href="./">
          <img class="pages-logo-img" src="/images/logo_clachicha.jpg">
        </a>

      </div>
    </div>

    <div class="back-arrow-container">
      <a href="./work">
        <img class="back-arrow-img" src="/images/left-arrow.png"/>
      </a>
    </div>

  </div>
</div>

<div class="container pages-main-container">

  <div class="pages-images-container">
    <div class="pages-main-img-container">
      <img class="pages-img-1" src="{{ page.main_image_path }}"/>
    </div>
    <div class="pages-secondary-images-container">
      {% if page.image_path_2 and page.image_path_3 == "none" %}
        <img class="pages-img-1" src="{{ page.image_path_2 }}"/>
      {% else %}
        <img class="pages-img-2" src="{{ page.image_path_2 }}"/>
        <img class="pages-img-2" src="{{ page.image_path_3 }}"/>
      {% endif %}
    </div>
    <div class="pages-main-img-container">
      {% if page.image_path_4 %}
        <img class="pages-img-1" src="{{ page.image_path_4 }}"/>
      {% endif %}
    </div>
  </div>

  <div class="pages-title-info-main">
    <div class="pages-title-info">
      <div class="pages-title-container">
        <h1 class="h1 pages-title text-center">{{ page.title }}</h1>
      </div>
      <div class="page-info-container">
        <h3 class="h3 pages-info">Medium: {{ page.category }}</h3>
        <h3 class="h3 pages-info"> Year: {{ page.year }}</h3>
        <h3 class="h3 pages-info">Size: {{ page.size }}</h3>
      </div>
    </div>
    <div class="pages-description">
      <span>{{ page.content }}</span>
    </div>
  </div>

</div>


</body>

</html>
